.commits-table {
    width: 100%;
    text-align: center;
}
.commits-table th, td {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.commits-table tr:nth-child(2n) {
    background: #f5f5f5;
}
.commits-table tr {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}